@use "../styles/tokens.scss";
@use "../styles/reset";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #ffffff;
  background: #ffffff;
  font-family: var(--font-inter), "TT Interphases Pro", var(--font-geist-sans),
    "Helvetica Neue", Arial, sans-serif;
  font-size: var(--fs-1);
  line-height: var(--lh-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
